/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* DO NOT DELETE THESE TAILWIND IMPORTS, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.monsieur-la-doulaise-regular-diff {
  font-family: "Cookie", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 80px;
  
}
